################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/slnx.sqlite
/.vs/FireManAssist/v17/.suo
